.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #282c34;
}

.route-window {
  width: 20vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.map-window {
  width: 80vw;
  height: 100vh;
}

.drivewise-map {
  width: 100%;
  height: 100%;
}

/*
.mapto,
.mapfrom {
  cursor: crosshair;
}
*/
