/* .App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App {
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  text-align: center;
  background-color: #282c34;
}

.route-window {
  width: 20vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.map-window {
  width: 80vw;
  height: 100vh;
}

.drivewise-map {
  width: 100%;
  height: 100%;
}

/* .route {
  min-width: 20vw;
  display: flex;
  flex-direction: column;
}

.blur {
  background-color: #000000;
  opacity: 0.7;
  position: absolute;
  width: 20vw;
  max-width: 20vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.map {
  width: 80vw;
}

.mapto,
.mapfrom {
  cursor: crosshair;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  color: black;
}

@media (max-width: 1200px) {
  .App {
    flex-direction: column;
  }
  .route {
    width: 100%;
    height: 100%;
    min-height: 20vh;
    flex-direction: row;
    order: 2;
  }
  .blur {
    min-width: 100%;
    height: 100%;
  }
  .map {
    width: 100%;
    max-height: 80vh;
    order: 1;
  }
}

@media (max-width: 800px) {
  .route {
    flex-direction: column;
  }
} */
