.routeInputRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px;
}

.clearSelected {
  min-width: 40px;
  height: 40px;
  border-radius: .25rem;
  border-style: none;
  background-color: #fff;
  margin-left: 5px;
}

.clearSelected:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

.rbt {
  width: 100%;
  height: 40px;
}

.rbt-input-main {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 5px;
  border-radius: .25rem;
  border-style: none;
}

.rbt-input-hint {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.dropdown-menu, .rbt-menu {
  border-radius: .25rem;
  border: 1px solid #282c34;
  margin: .1875rem 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #000 !important;
  text-align: left;
  background-color: #fff;
  display: flex !important;
  flex-direction: column;
  z-index: 100;
}

.dropdown-item {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.rbt-highlight-text {
  background-color: unset;
  font-weight:bold;
}

.dropdown-item:hover {
  background-color: rgb(216, 216, 216);
}

.rbt-aux {
  display: flex;
  align-items: center;
  bottom: 0;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
}

@media (max-width: 1000px) {
  .rbt {
    width: 50%;
  }
}