.route-info-box {
  width: calc(100% - 20px);
  margin: 0px 10px 10px;
  padding: 10px;
  font-size: 1.3rem;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
}

.checkbox-row {
  display: flex;
  justify-content: space-evenly;
}

.checkbox-row > div {
  display: flex;
  align-items: center;
}

.checkbox-row label,
.checkbox-row input {
  margin: 0 5px;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 20px;
  text-align: center;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
  z-index: 100;
}

:checked + label img {
  transform: scale(0.9);
}
